form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.login-form {
  /* height: 30em; */
  width: 30em;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 1em 2em;
}
.signup-form {
  /* height: 30em; */
  width: 30em;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 1em 2em;
}
form * {
  /* font-family: 'Poppins',sans-serif; */
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 20px;
  font-weight: 500;
  /* line-height: 42px; */
  text-align: center;
}

.form label {
  display: block;
  /* margin-top: 10px; */
  font-size: 16px;
  font-weight: 500;
}
.form input {
  display: block;
  height: 1em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 2em 1em;
  /* margin-top: 8px; */
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
.form button {
  /* margin-top: 50px; */
  width: 10em;
  margin-right: 0.1em;
  background-color: #ffffff;
  color: #080710;
  padding: 0.4em 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.button-submit {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
.form .links {
  color: black;
  text-decoration: none;
}
.form .links:hover {
  color: black;
}
.transition-signup{
  position: fixed;
  top: 64%;
  left: 47%;
}
